*{
    margin: 0;
    padding : 0;
    box-sizing : border-box;
    font-family:'Courier New', Courier, monospace;
}
hmtl.body {
    height: 100%;
    width: 100%
}
body{
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: cornflowerblue;
    padding: 30px;

}
#card{
    height: 500px;
    width:500px;
    background-color: #ffff
}
#card img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    padding: 30px;
}
h1{
    text-align: center;
    margin-top: -20px;
    font-size:20px;
    height: 50px;
    font-style:italic;
}
h5{
    font-size: 25px;
    color: red;
    margin-top: -20px;
    text-align: center;
    font-style:normal;
}
#add{
    background-color:cadetblue;
    color: #ffff;
    font-weight: 700;
    padding-left: 12px;
    padding-right: 20px;
    border-radius: 10px;
    border: none;
    height: 35px;
    margin-top: 10px;
    margin-left: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#card #remove{
    background-color:aliceblue;
    color: black;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 20px;
    border-radius: 10px;
    height: 35PX;
    margin-left: 120px;
    margin-top: -20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}